* {
    margin: 0%;
    padding: 0%;
}

.navbar {
    width: 80vw;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.msg {
    color: black;
    font-size: 34px;
    position: absolute;
    top: 332px;
    left: 642px;
    animation: meet2;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-direction: normal;
}

@keyframes meet2 {
    from {
        font-size: 4px;
    }
    to {
        font-size: 34px;
    }
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 30px;
}

.home-container {
    height: 80vh;
}

.home-container::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: url('./img/e.png');
    background-repeat: no-repeat;
    opacity: 0.9;
    background-size: 1536px;
    z-index: -1;
}

.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
}

.nav-right {
    margin-top: 9px;
}

.nav-left ul li a {
    color: black;
    text-decoration: none;
    padding: 8px;
    transition: all 0.1s ease-in-out;
    color: black;
    font-size: 20px;
}

.nav-left ul li a:hover {
    color: var(--main-danger-color);
    border-bottom: 1px solid rebeccapurple;
    font-weight: bolder;
}

.active-class {
    background-color: rgb(218, 199, 199);
    border-radius: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    height: 450px;
    width: 100%;
}

.login-form::before {
    background-color: beige;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
}

.login-form form {
    height: 400px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 1);
    margin-top: 50px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.out-btn {
    margin-top: 12px;
    font-size: 18px;
    cursor: pointer;
}

.out-btn a {
    color: blue;
    text-decoration: none;
}

.out-btn a:hover {
    color: black;
}

.login-form input {
    margin-top: 20px;
    padding: 5px;
    width: 271px;
}

.form-btn {
    margin-top: 20px;
    width: 72px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
}

.span-class {
    width: 52%;
    display: flex;
    justify-content: space-between;
}

.footer {
    width: 100%;
    position: fixed;
    padding: 10px;
    text-align: center;
    bottom: 0%;
}

.create-form::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(226, 225, 194);
    z-index: -1;
    opacity: 0.7;
}

.create-form form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.text {
    margin-top: 13px;
}

.radio-class {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 12px;
}

.radio-class label {
    margin-left: 6px;
}

.radio-class input {
    height: 12px;
}

.text input {
    width: 35%;
    padding: 4px;
    border-radius: 6px;
    border: 1px solid;
}

.text-class textarea {
    width: 52vw;
    padding: 0px 6px;
    margin: 7px 0;
    font-size: 15px;
    height: 30vh;
    border: 1px solid black;
    border-radius: 7px;
}

.btn-class {
    width: 30px;
}

.btn-class button {
    font-size: 15px;
    width: 64px;
    height: 30px;
    cursor: pointer;
}

@media (max-width:940px) {
    .navbar {
        width: 100%;
        display: flex;
        flex-direction: column;
        /*  */
    }
    .msg {
        top: 246px;
        left: 174px;
        font-size: 14px;
    }
    @keyframes meet2 {
        from {
            font-size: 4px;
        }
        to {
            font-size: 14px;
        }
    }
    .nav-left {
        display: flex;
        flex-direction: column;
    }
    .nav-right {
        margin-top: 2px;
    }
    .login-form form {
        width: 300px;
    }
    .login-form input {
        width: 100px;
    }
    .nav-left ul {
        margin: 10px;
    }
    .nav-left ul li a {
        font-size: 13px;
        padding: 1px;
    }
    /* .out-btn {
        top: 42%;
        left: 54%;
        font-size: 13px;
    } */
}

@media (max-width:550px) {
    /* .nav-left {
        display: none;
    } */
    .login-form form {
        width: 250px;
    }
    .msg {
        top: 246px;
        left: 120px;
    }
    @keyframes meet2 {
        from {
            font-size: 4px;
        }
        to {
            font-size: 14px;
        }
    }
    /* .out-btn {
        top: 58%;
        left: 54%;
        font-size: 14px;
    } */
}